<div class="widget newsletter-signup-form">
  <div class="title">
    <h3><%= t('.sign_up_heading') %></h3>
  </div>
  <p><%= t('.newsletter_text') %></p>
  <div class="js-lead-sigup-form-wrapper">
    <%= form_for LeadSignup.new, :url => lead_signups_path, :html => {:class => "js-lead-sigup-form"} do |f| %>
      <div class="js-lead-sigup-form-errors"></div>
      <%= f.text_field :name, :placeholder => t('.name'), :class => "form-control", :id => "name-field" %>
      <%= f.text_field :email, :placeholder => t('.email'), :class => "form-control", :id => "email-field" %>
      <%= f.text_field :phone, :placeholder => t(".phone"), :class => "form-control", :id => "phone-field" %>
      <%= f.submit t('.sign_me_up'), :class => "btn btn-primary btn-block", :id => "form-submit-btn" %>
    <% end %>
  </div>
</div>
